<h2 class="text-center text-white">{{essentialoil.modernName}} <button *ngIf="isLoggedIn" class="btn-sm" (click)="onUpdate()">{{button_update}}</button></h2>
<h4 class="text-center text-white">{{message_latin_name_pre}} - {{essentialoil.latinName}}</h4>
<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="text-white">{{message_balanced_eo}}</h5>
            <ul class="list-inline " style="background-color:rgba(197, 202, 173, 0.855);">
                <li *ngIf="essentialoil.balancedDoshas.vata">&emsp;{{vata}}</li>
                <li *ngIf="essentialoil.balancedDoshas.pitta">&emsp;{{pitta}}</li>
                <li *ngIf="essentialoil.balancedDoshas.kapha">&emsp;{{kapha}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="text-white">{{message_chemical_list}}<button *ngIf="!openChemicalForm && isLoggedIn" class="btn-sm" (click)="openForm()">Add Chemical</button></h5>
            <h5 *ngIf="formUpdatingChemical" class="text-white">{{message_chemical_update_form_pre}} {{updatingChemical.name}}</h5>
            <form *ngIf="openChemicalForm" #chemicalForm="ngForm" (ngSubmit)="addChemical()">
                <label >{{message_name_pre}} <input name="name" ngModel></label>
                <label>{{message_category_pre}} <input name="category" ngModel></label>
                <button type="submit">{{button_submit}}</button>
                <button (click)="onClose()">{{button_close}}</button>
            </form>
            <ul  *ngIf="!openChemicalForm" class="chemicals list-unstyled list-group">
                <li class="list-group-item" style="background-color:rgba(197, 202, 173, 0.855);" *ngFor="let chemical of essentialoil.chemicals">
                    <button *ngIf="isLoggedIn" class="btn-sm " (click)="onDeleteChemical(chemical._id)">{{button_delete}}</button>
                    <span class="chemical-name">{{message_name_pre}} {{chemical.name}}</span><br />
                    <button *ngIf="isLoggedIn" class="btn-sm" (click)="onUpdateChemical(chemical)">{{button_update}}</button>
                    <span class="chemical-category">{{message_category_pre}} {{chemical.category}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>