<h1>{{essentialoil.modernName}}</h1>
<button (click)="onUpdate()">Update</button>
<h4>Latin name - {{essentialoil.latinName}}</h4>
<span>Doshas that are reduced by this essential oil</span><br/>
<ul class="doshas">
    <li *ngIf="essentialoil.balancedDoshas.vata">Vata</li>
    <li *ngIf="essentialoil.balancedDoshas.pitta">Pitta</li>
    <li *ngIf="essentialoil.balancedDoshas.kapha">Kapha</li>
</ul>
<span>List of chemicals in this essential oil</span>
<ul class="chemicals">
    <li *ngFor="let chemical of essentialoil.chemicals">
        <span class="chemical-name">Name: {{chemical.name}}</span><br/>
        <span class="chemical-category">Category: {{chemical.category}}</span>
    </li>
</ul>