<h3 class="alert-danger" *ngIf="errorLoggingIn">{{loginErrorMessage}}</h3>
<div *ngIf="!isLoggedIn">
<h1>{{title_login}}</h1>
<form #LoginForm="ngForm" (ngSubmit)="login(LoginForm)">
   <label>{{message_username_pre}} <input name="username" placeholder="username" ngModel/></label>
   <label>{{message_password_pre}} <input type="password" name="password" placeholder="password" ngModel/></label>
   <button type="submit">Login</button>
</form>
</div>
<div *ngIf="isLoggedIn">
   <h1>{{message_login_welcome}}!</h1>
</div>