<h1>{{title_register}}</h1>
<h3 class="alert-danger" *ngIf="errorRegistering">{{registrationErrorMessage}}</h3>
<h3 class="alert-success" *ngIf="successfullyRegistered">{{registrationSuccessMessage}}</h3>
<form [formGroup]="registerGroup" (ngSubmit)="register()">
    <div><label>{{message_name_pre}} <input placeholder="name" formControlName="name" /></label></div>
    <div><label>{{message_username_pre}} <input placeholder="username" formControlName="username" /></label></div>
    <div><label>{{message_password_pre}} <input placeholder="password" type="password" formControlName="password" /></label></div>
    <div><label>{{message_password_repeat_pre}} <input placeholder="password" type="password"
                formControlName="repeated_password" /></label></div>
    <button type="submit">{{button_register}}</button>

</form>